body{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    min-width: 1024px;
    max-width: 1920px;
    overflow: hidden;
}

.header_wrap{
    z-index: 1;
    .header{
        padding: 0 10px;
        height: 40px;
        background-color: #343A40;
        .hd_logo_img_box{
            width: 200px;
            align-items: flex-end;
            img{width: 60px; height: auto;}
            span{
                padding-left: 8px;
                line-height: normal;
            }
        }
        .hd_user_name_txt{color: #F9BD0F;}
        .hd_time_box{padding-right: 15px;}
        .hd_btn{
            background-color: #fff;
            padding: 4px 13px;
            margin-left: 8px;
            border-radius: 3px;
        }
        .go_web_btn{
            border: 2px solid #017BFF;
            span{color: #017BFF;}
        }
        .logout_btn{
            border: 2px solid #585858;
            span{color: #585858;}
        }
    }
    nav{
        position: absolute;
        top: 40px;
        left: 0;        
        width: 200px;
        height: calc(100vh - 40px);
        background-color: #343A40;
        button{padding: 0;}
        a{
            width: 100%;
            padding: 12px 14px;
        }
        .nav_2_btn{display: block;}
        .accordion-item{
            border: 0;
            border-radius: 0;
            background-color: #343A40;
        }
        .accordion-button{
            background-color: #343A40;
            border: 0;
        }
        .accordion-header{border: 0;}
        .accordion-button:focus {
            box-shadow: none;
        }
        .accordion-body{
            margin-left: 10px;
            padding: 0;
            background-color: #51575E;
            .nav_2_btn{
                padding: 12px 14px;
            }
        }
        .accordion-button::after{
            background-image: url(../../public/img/arrow_down.png);
        }
        .accordion-button:not(.collapsed)::after{
            background-image: url(../../public/img/arrow_up.png);
        }
    }
}

.components_wrap{padding: 20px 20px 20px 220px;}