body, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul, li{list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
body, html {height: 100%; }
body {position: relative;overflow: auto;color: #2C2C2C;font-style: normal;word-wrap: break-word;line-height: 1.1;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, select, textarea, button{margin: 0;padding: 0;border: 0;outline: none;vertical-align: middle;
    font-weight: 300;font-size: 12px;letter-spacing: 0px;  color: #2C2C2C;}
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);box-sizing: border-box;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
*:focus{outline: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
select{-webkit-appearance: auto;-moz-appearance: auto;appearance: auto;}
select::-ms-expand{display: none;}
a{position: relative; display: inline-block;text-decoration: none;}
a:hover, a:active{text-decoration: none; color: inherit!important;}
a span{text-decoration: none; color: #2C2C2C;}
div{position: relative;font-size: 0;}
i, span, font, label{position: relative;display: inline-block;vertical-align: middle;}
ol{font-size: 0;}
ul{font-size: 0;}
li{font-size: 0;}

body{min-width: 1536px;}

.f_biggest {font-size: 25px;}
.f_bigger {font-size: 17px;}
.f_big {font-size: 15px;}
.f_normal {font-size: 13px;}
.f_small {font-size: 12px;}
.f_smaller {font-size: 10px;letter-spacing: -0.5px}
.f_smallest {font-size: 8px;letter-spacing: -0.5px}
.f_400 {font-weight: 400;}
.f_500 {font-weight: 500;}
.f_600 {font-weight: 600;}
.f_700 {font-weight: 700;}
.f_white {color: #fff;}
.text_hidden {width: 100%;display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-right: 20px;}
.text_hidden_two_line {padding-right: 0;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;white-space: normal;}
.display_none {display: none !important;}
.display_block {display: block !important;}
.display_flex {display: flex;align-items: center;}
.flex_center {display: flex;align-items: center;justify-content: center;}
.flex_between {display: flex;align-items: center;justify-content: space-between;}
.flex_around {display: flex;align-items: center;justify-content: space-around;}
.flex_end {display: flex;align-items: center;justify-content: flex-end;}
.flex_wrap {flex-wrap: wrap;}

.p_btn{background-color: #E77340; padding: 8px 16px; border-radius: 7px; border: 1px solid #E77340;}
.p_btn:hover{
    background-color: #fff;
    border-color: rgba(255, 204, 182, 0.73);
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(253, 141, 13, 0.25);
}
.p_btn span{color: #fff;}
.p_btn:hover span{color: #2C2C2C; font-weight: 400;}
